.container {
  width: 100%;
  max-height: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.content {
  aspect-ratio: 2/2.7;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: gray;
}

.poster {
  width: 100%;
  height: 100%;
}

.poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
  overflow: hidden;
  background-color: #16181f;
  color: white;
  opacity: 0;
  transition: opacity 100ms linear 0s, width 100ms linear, height 100ms linear;
}

.detailWrapper {
  padding: 0px 16px;
  height: 60%;
}

.detailWrapper h3 {
  font-size: 14px;
}

.detailWrapper p {
  font-size: 12px;
  color: #8F98B2;
  overflow: hidden;
  line-clamp: 3;
  -webkit-line-clamp:4 ;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.container:hover .detail {
  opacity: 1;
  width: 105%;
  height: 100%;
}