.container {
  height: 50vw;
  position: relative;
  width: 50%;
  max-width: 500px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-bottom: 32px;
}

.title {
  font-size: 32px;
  color: white;
  margin: 0;
}

.section {
  margin-top: 16px;
  display: flex;
}

.section1 span{
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.section1 i{
  margin: 0 8px;
  color: white;
  font-size: 14px;
}

.section2 {
  margin: 0;
  color: white;
  font-size: 14px;
  line-height: 20px;
  display: none;
} 

.section3 span{
  color: white;
} 

.section3 span .divider {
  opacity: 0.7;
  margin: 0 8px;
}

@media (min-width: 960px) {
  .section2 {
    display: block;
  }
}